<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<!-- Compiled and minified CSS -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<title>Fino Lanche</title>
</head>
<body>

	<div th:replace="~{base/menu :: menu}"></div>

	<div class="container">
		<h1>Bem-vindo a nossa aplicação desenvolvida para o projeto de PI.</h1>
	</div>
	<div th:replace="~{base/menu :: rodape}"></div>
	
</body>
</html>